<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>团费标准说明</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/fee/declaration_fee.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
</head>

<body>
<div class="content_box">
    <div class="heading">团费标准说明</div>
    <div class="text">按团章规定，不同收入对应不同的团费收交标准，具体为：</div>
    <p class="text content"><span style="font-weight: bold;">学生团员：</span>在校学生按0.2元/月的标准交纳团费。</p>
    <p class="text content"><span style="font-weight: bold;">农民团员：</span>农业户籍且无稳定固定收入的务农团员，按0.5元/月的标准交纳团费。</p>
    <p class="text content"><span style="font-weight: bold;">在职团员：</span>按收入交纳团费（收入需团组织审核），每月工资收入（税后）在2000元以下（不含2000，以下同）者交纳3元/月，2000元-5000元者交纳5元/月，5000元-8000元者交纳10元/月 ，8000元-10000元者交纳15元/月，10000元以上者交纳20元/月。</p>
    <p class="text content"><span style="font-weight: bold;">其他：</span>保留团籍的党员/预备党员，以自愿交费为原则。</p>
    <div class="question_box">
        <a class="question" href="https://mp.weixin.qq.com/s/fnpYC5AnKGYSoiTWqpXcZA">仍有团费相关的疑问？点此找到答案&gt;&gt;</a>
    </div>
</div>
</body>
</html>