<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>已交清单</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/fee/fee_paid_list.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/FeeApi.js"></script>
    <script type="text/javascript" src="../../public/js/fee/fee_paid_list.js"></script>
</head>
<body>
<section class="common_section">
    <!--<div id="header_h"><a href="javascript:;" class="back_ btn"><em></em></a>已交清单<span class="menu_de btn"><em></em></span></div>-->
    <div class="center_txt">
        <p class="t1">已交团费共 (元)</p>
        <p class="t2" id="feePayable"></p>
        <p class="t3">共已交<span id="number"></span>个月的团费</p>
    </div>
</section>
<section class="common_list" style="margin-top:0.6rem;">
    <ul class="list">
        <!--<a class="list_item self" href="javascript:;">-->
            <!--<div class="item_inner clearfix">-->
                <!--<div class="item_text clearfix">-->
                    <!--<div class="text_left">-->
                        <!--<p class="text">2017年09月</p>-->
                    <!--</div>-->
                    <!--<div class="text_left">-->
                        <!--<p class="text1">杨小云</p>-->
                        <!--<p class="text2">2017-08-18 9:00</p>-->
                    <!--</div>-->
                    <!--<div class="text_right">10元</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="list_item self" href="javascript:;">-->
            <!--<div class="item_inner clearfix">-->
                <!--<div class="item_text clearfix">-->
                    <!--<div class="text_left">-->
                        <!--<p class="text">2017年08月</p>-->
                    <!--</div>-->
                    <!--<div class="text_left">-->
                        <!--<div><span class="text1">焦雅婷</span><em class="tiny">本人</em></div>-->
                        <!--<p class="text2">2017-08-18 9:00</p>-->
                    <!--</div>-->
                    <!--<div class="text_right">10元</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
    </ul>
</section>
<div class="ps_box">
    <p class="ps_title">说明：</p>
    <p class="ps_p">•“本人”表示团费是团员自己交纳；</p>
    <p class="ps_p">•&nbsp;&nbsp;交费人出现名字，表示该笔费用是本组织其他团员以互助形式交纳。</p>
</div>
</body>
</html>