<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>立即交费</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/fee/help_pay_now.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/FeeApi.js"></script>
    <script type="text/javascript" src="../../public/js/fee/help_pay_now.js"></script>
</head>

<body>
<section class="common_section">
    <div class="center_txt">
        <p class="t2"><span id="amount"></span>元</p>
        <p class="t3">帮本支部的<span id="number"></span>位成员交纳团费</p>
    </div>
</section>
<section class="common_list">
    <ul class="list">
        <!--<a class="list_item" href="javascript:;">-->
            <!--<div class="item_inner clearfix">-->
                <!--<div class="item_text clearfix">-->
                    <!--<div class="text_left">李聪</div>-->
                    <!--<div class="text_right">10元</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
    </ul>
</section>
<div class="btns1 clearfix">
    <a href="help_pay.html" class="btn l">再考虑下</a>
    <a href="javascript:;" class="btn r" id="confirm">确定</a>
</div>
</body>
</html>