<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>帮TA交费明细</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/fee/help_pay_paid_detail.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/FeeApi.js"></script>
    <script type="text/javascript" src="../../public/js/fee/help_pay_paid_detail.js"></script>
</head>

<body>
<section class="common_section">
    <div class="center_txt">
        <p class="t1">已交团费共 (元)</p>
        <p class="t2" id="amount"></p>
        <p class="t3">您在<span id="dealTime"></span>帮<span id="number"></span>个支部成员交纳团费</p>
    </div>
</section>
<section class="common_list">
    <ul class="list">
        <!--<a class="list_item" href="javascript:;">-->
            <!--<div class="item_inner clearfix">-->
                <!--<div class="item_text clearfix">-->
                    <!--<div class="text_left">李聪</div>-->
                    <!--<div class="text_right">10元</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
    </ul>
</section>
</body>
</html>