<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运营者日志</title>
    <link rel="stylesheet" href="../../public/vendor/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" href="../../public/vendor/easyui/themes/icon.css"/>
    <link rel="stylesheet" href="../../public/custom/easyui_secondary.css"/>
    <script src="../../public/vendor/jquery/jquery-1.8.3.min.js"></script>
    <script src="../../public/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="../../public/vendor/jquery-validate/messages_zh.js"></script>
    <script src="../../public/vendor/jquery-validate/additional-methods.js"></script>
    <script src="../../public/vendor/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../../public/custom/easyui_secondary.js"></script>
    <script src="../../public/custom/dialog.js"></script>
    <script src="../../public/js/module/League.js"></script>
    <script src="../../public/js/module/SystemManagementApi.js"></script>
    <script src="../../public/js/module/Utils.js"></script>
    <script src="../../public/js/system_management/operation_log.js"></script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="border: 0;height: 45px;overflow: hidden;">
        <!--<div>查询条件</div>-->
        <!--数据筛选 -- 手风琴-->
        <div class="easyui-accordion">
            <div title="数据筛选" data-options="collapsible: false, noheader: true">
                <form method="post">
                    <table>
                        <tr>
                            <th><label for="time_filter">日期:</label></th>
                            <td><input id="time_filter" class="easyui-datebox" type="text" name="time_filter" data-options="panelWidth: 173,editable: false, buttons: buttons"></td>
                            <td>
                                <a id="filter" class="button">搜索</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <!--<div data-options="region:'center'" style="margin-top: 20px;border: 0;">-->
    <div data-options="region:'center'" style="border: 0;">
        <!--团费查询-->
        <table class="easyui-datagrid" id="dg_operation_log" data-options="noheader: true, border: false"></table>
    </div>
</div>


<!--查看明细-->
<div id="dialog" class="easyui-dialog mywindow" title="查看明细" data-options="modal: true, closed: true" style="width: 720px;height: 500px;padding: 10px;">
    <div class="list_box">
        <div class="list">
            <!--<div class="headline">基本信息</div>-->
            <div class="content">
                <!--<div class="item">-->
                    <!--<span class="title">职业：</span><span class="describe"></span>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>