/* 警告、提醒文字信息 */
.remind_info_box{background-color: #fff;padding:0.4rem 0.5rem;display:block;color:#333;position: relative;margin-bottom:0.6rem;}
.remind_info_box .remind_info_txt{line-height:0.8rem;padding-left:2rem;padding-right:1.2rem;font-size:0.48rem;}
.remind_info_box:before{content:'';position: absolute;width:1rem;height:1rem;background:url(../../img/spirit1.png) no-repeat -2.52rem -1.32rem;background-size:6rem;left:0.5rem;top:50%;transform:translateY(-50%);}
.remind_info_box:after{content:'';position: absolute;right:0.5rem;top:50%;transform:translateY(-50%);background:url(../../img/spirit1.png) no-repeat -4.6rem -1.4rem;background-size:6rem;width:0.24rem;height:0.4rem;visibility:visible;}


/* 信息列表 比如填写资料什么的 */
.info_box .block_title{padding:0 0.6rem;margin-bottom:0.6rem;position: relative;}
.info_box .block_title .block_title_txt{color:#333;font-size:0.72rem;font-weight: bold;line-height:0.72rem;}

.info_box .info_list .info_item{margin-bottom:0.6rem;background-color: #fff;padding:0.5rem 0.6rem;line-height:1.4;overflow: hidden;}
.info_box .info_list .info_item .info_item_title{font-size:0.68rem;color:#333;float: left;width: 4rem;}
.info_box .info_list .info_item .right_txt{padding-left:4rem;line-height: 0.952rem;font-size: 0.56rem; color: #999;}
.info_box .info_list .info_item .right_txt .right_input { width: 100%; height: 0.952rem; line-height: 0.952rem; color: #333; font-size: 0.56rem; }

.info_box .info_list .info_item .right_txt .checkbox_label {
    float: left;
    line-height: 0.952rem;
    height: 0.952rem;
    font-size: 0.56rem;
    color: #333;
}
.info_box .info_list .info_item .right_txt .checkbox_label:not(:first-child) {
    margin-left: 0.8rem;
}
.info_box .info_list .info_item .right_txt .checkbox_label .checkbox {
    display: inline-block;
    margin-right: 0.6rem;
    width: 0.68rem;
    height: 0.68rem;
    vertical-align: middle;
    background: url(../../img/square.png) no-repeat center;
    background-size: contain;
}
.info_box .info_list .info_item .right_txt .checkbox_label.active .checkbox{
    background-image: url(../../img/square-active.png);
}

.info_box .info_list .info_item .arrow{float: right;color:#999;font-size:0.56rem;padding-right:0.84rem;position: relative;max-width: 50%;}
.info_box .info_list .info_item .arrow:before{content:'';position: absolute;right:0;top:50%;transform:translateY(-50%);background:url(../../img/spirit1.png) no-repeat -4.6rem -1.4rem;background-size:6rem;width:0.24rem;height:0.4rem;}

/*展示图片*/
.info_box .list.attachment{
    margin-bottom: 0.6rem;
    background: #fff;
}
.info_box .list.attachment .img_box{
    position: relative;
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    font-size: 0;
    background: #f2f2f2;
    margin: 0.4rem 2rem 0.4rem 0.4rem;
}
.info_box .list.attachment .img_box img{
    display: inline;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.info_box .list.attachment .img_box .cancel {
    position: absolute;
    right: -1.4rem;
    font-size: 0.6rem;
    color: #e46b78;
}


/* 选择 - 弹窗 */
.select_popup{position: fixed;background-color:rgba(0,0,0,.3);left:0;top:0;width:100%;height:100%;z-index:9999;display:none;}
.select_popup .select_list{position: absolute;bottom:0;left:0;background-color: #fff;width:100%;max-height:7rem;overflow-y:auto;}
.select_popup .select_list .select_item{height:1.6rem;line-height:1.6rem;text-align: center;color:#333;font-size:0.56rem;border-bottom:1px solid #f2f2f2;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.select_popup .select_list .select_item:active{background-color: #33cc33;color:#fff;}
.select_popup .select_list .select_item:last-child{border-bottom:0 none;}

/* 选择 - 弹窗 - 两边 */
.select_popup_pair{position: fixed;background-color:rgba(0,0,0,.3);left:0;top:0;width:100%;height:100%;z-index:9999;display:none;}
.select_popup_pair .select_list_pair{position: absolute;bottom:0;left:0;background-color: #fff;width:50%;height:7rem;overflow-y:auto;}
.select_popup_pair .select_list_pair:nth-child(2){left: auto;right: 0;border-left: 1px solid #f2f2f2;}
.select_popup_pair .select_list_pair .select_item_pair{height:1.6rem;line-height:1.6rem;text-align: center;color:#333;font-size:0.56rem;border-bottom:1px solid #f2f2f2;}
.select_popup_pair .select_list_pair .select_item_pair:active{background-color: #33cc33;color:#fff;}
.select_popup_pair .select_list_pair .select_item_pair.active{background-color: #33cc33;color:#fff;}
.select_popup_pair .select_list_pair .select_item_pair:last-child{border-bottom:0 none;}