/* 团费交纳板块共用  */
.common_section{height:9.32rem;background:url(../../img/pay-bgi.png) no-repeat center top;background-size:100%;}

.common_section .center_txt{padding-top:1.88rem;text-align: center;color:#fff;}
.common_section .center_txt .t1{font-size:0.48rem;}
.common_section .center_txt .t2{font-size:2rem;line-height:2rem;margin:0.2rem 0 0.5rem;}
.common_section .center_txt .t3{font-size:0.56rem;}

.common_list .list_item{display:block;padding:0 0.6rem;background-color: #fff;border-bottom:1px solid #f2f2f2;height:3.2rem;}
.common_list .item_inner{position: relative;padding:0.6rem 0;min-height:2rem;}
.common_list .item_inner:before{position: absolute;content:'';right:0;top:50%;transform:translateY(-50%);width:0.24rem;height:0.4rem;background:url(../../img/spirit1.png) no-repeat -4.6rem -1.4rem;background-size:6rem;}
.common_list .item_text .text_left{float: left;}
.common_list .item_text .text_left .text{margin-right: 0.6rem; line-height: 1.72rem; font-size: 0.72rem; color: #333;}
.common_list .item_text .text_left .text1{font-size:0.68rem;color:#333;padding-top:0.28rem;line-height:0.68rem;margin-bottom:0.2rem;}
.common_list .item_text .text_left .text2{font-size:0.56rem;line-height:0.56rem;color:#999;}
.common_list .item_text .text_right{font-size:0.8rem;color:#999;float: right;line-height:0.8rem;padding-top:0.6rem;margin-right:0.84rem;}

/*本人*/
.list_item.self .item_inner{position: relative;}
.list_item.self .item_inner .tiny{ display: inline-block; position: relative; top: -0.32rem; left: 0.12rem;width: 1.2rem; line-height: 0.68rem; border-radius: 0.16rem; background-color: #D94453; color: #fff; text-align: center; font-size: 0.4rem; }
/*说明*/
.ps_box{margin:0.48rem 0.6rem;}
.ps_box p{line-height:0.76rem;font-size:0.48rem;color:#666;}
.ps_box .ps_title{color:#333;}

.common_list .item_text .text_right{margin-right:0;}
.common_list .item_inner:before{visibility:hidden;}