<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/information/gift.css" />
    <script type="text/javascript" src="../../public/js/common/flexible.js"></script>
    <!--<style type="text/css">-->
        <!--body{background: url(../../public/img/gift-bg.png) no-repeat;background-size:100%;position: relative;}-->
        <!--.erweima_bg{width:8rem;height:8rem;position: absolute;background:url(../../public/img/four-angel.png) no-repeat;background-size:100%;left:50%;transform:translateX(-50%);top:9.5rem;}-->
        <!--.erweima{position: absolute;width:7.26rem;left:50%;top:50%;transform:translate(-50%, -50%);}-->
    <!--</style>-->
</head>
<body>
<div class="erweima_bg"><img src="../../public/img/erweima.png" class="erweima" /></div>
</body>
</html>