<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>电子团员奖励记录</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/information/member_reward_generated.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/InformationApi.js"></script>
    <script type="text/javascript" src="../../public/js/module/RelationApi.js"></script>
    <script type="text/javascript" src="../../public/js/information/member_reward_generated.js"></script>
</head>
<body>

<img style="width: 100%;" src="../../public/img/certification-bg-top.png"/>

<div class="box">
    <div class="box_header">
        <div class="title">广东共青团团员奖励记录</div>
        <div class="subtitle">The rewards record of guangdong communist youth league members</div>
        <div class="download"><span id="download_certification">下载PDF</span></div>
    </div>

    <div class="box_item_table reward_in">
        <div class="title_txt">团内奖励</div>
        <div class="content_box_list">
            <!--团内奖励列表-->
            <div class="warning_no_content" style="display: none;">暂无记录</div>
        </div>
    </div>
    <div class="box_item_table reward_out">
        <div class="title_txt">团外奖励</div>
        <div class="content_box_list">
            <!--团外奖励列表-->
            <div class="warning_no_content" style="display: none;">暂无记录</div>
        </div>
    </div>

</div>


<img style="width: 100%;" src="../../public/img/certification-bg-bottom.png"/>

</body>
</html>