<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>团员身份认证（4/4）</title>

    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/information/league-membership-common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/information/registration_data_4.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>

    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/InformationApi.js"></script>
    <script type="text/javascript" src="../../public/js/information/registration_data_4.js"></script>
</head>
<body>
    <!-- /* 警告、提醒文字信息 */ -->
    <a href="javascript:;" class="remind_info_box clearfix">
        <p class="remind_info_txt">以下资料提交审核通过后可修改，修改后也不需要组织审核的哦。</p>
    </a>
    <section class="info_box">
        <div class="block_title"><h1 class="block_title_txt">选填信息</h1></div>
        <ul class="info_list">
            <li class="info_item_input" id="developmentMemberNumber"><!-- 团员编号 -->
                <span class="info_item_title">团员编号</span>
                <div class="right_input_box"><input type="text" class="right_input" placeholder="请输入团员编号" /></div>
            </li>
            <li class="info_item" id="occupation"><!-- 职业 -->
                <span class="info_item_title">职业</span>
                <span class="arrow">请选择</span>
            </li>
            <li class="info_item_input" id="learningUnit"><!-- 工作单位 -->
                <span class="info_item_title">工作单位</span>
                <div class="right_input_box"><input type="text" class="right_input" placeholder="请输入工作单位" /></div>
            </li>
            <li class="info_item_input" id="email"><!-- 电子邮箱 -->
                <span class="info_item_title">电子邮箱</span>
                <div class="right_input_box"><input type="email" class="right_input" placeholder="请输入电子邮箱" /></div>
            </li>
            <li class="info_item_input" id="qqNum"><!-- QQ -->
                <span class="info_item_title">QQ</span>
                <div class="right_input_box"><input type="number" class="right_input" placeholder="请输入QQ号" /></div>
            </li>
            <li class="info_item_input" id="wechatId"><!-- 微信号 -->
                <span class="info_item_title">微信号</span>
                <div class="right_input_box"><input type="text" class="right_input" placeholder="请输入微信号" /></div>
            </li>
            <li class="info_item_input" id="weibo"><!-- 微博号 -->
                <span class="info_item_title">微博号</span>
                <div class="right_input_box"><input type="text" class="right_input" placeholder="请输入微博号" /></div>
            </li>
            <li class="info_item" id="rdny"><!-- 入党年月 -->
                <span class="info_item_title">入党年月</span>
                <span class="arrow">请选择</span>
            </li>
            <li class="info_item" id="zczyzsj"><!-- 注册志愿者时间 -->
                <span class="info_item_title">注册志愿者时间</span>
                <span class="arrow">请选择</span>
            </li>

        </ul>
    </section>
    <!-- 下一步、提交按钮 -->
    <a href="javascript:;" class="bot_big_btn">提交</a>

    <!--&lt;!&ndash; 弹窗 &ndash;&gt;-->
    <!--<section class="popup_box">-->
        <!--<div class="popup_center">-->
            <!--<p class="p1">提交成功</p>-->
            <!--<p class="p2">你的申请已提交成功，请等待团支部的审核</p>-->
            <!--<a href="javascript:;" class="bot_big_btn">确定</a>-->
        <!--</div>-->
    <!--</section>-->


    <!-- 选择 - 弹窗 -->
    <section class="select_popup">
        <ul class="select_list"></ul>
    </section>
    <!-- 选择 - 弹窗 -->

    <!-- 选择 - 弹窗 - 两边 -->
    <section class="select_popup_pair">
        <div class="clear clearfix">清空</div>
        <ul class="select_list_pair select_list_pair_left"></ul>
        <ul class="select_list_pair select_list_pair_right"></ul>
    </section>
    <!-- 选择 - 弹窗 - 两边  -->

    <!-- 弹窗 -->
    <section class="popup_box_confirm">
        <div class="popup_center">
            <div class="ph_box">
                <p class="ph">您的申请已提交成功</p>
            </div>
            <div class="bot clearfix">
                <div class="btn left">知道了，关闭</div>
                <div class="btn right">知道了，去青年之声逛逛</div>
            </div>
            <a href="gift.html" class="link"></a>
        </div>
    </section>

</body>
</html>