<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>团员身份认证</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/information/registration.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
</head>
<body>
<section class="big_out">
    <div class="img_box"><img src="../../public/img/logo_star.png" alt=""></div>
    <p class="center_p">团员身份认证通过后，才能进入智慧团建办理业务</p>
    <a href="registration_data_1.html" class="big_btn">点击报到认证</a>
</section>
</body>
</html>