<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>已审核</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/relation/done_application.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/Enterprise.js"></script>
    <script type="text/javascript" src="../../public/js/module/RelationApi.js"></script>
    <script type="text/javascript" src="../../public/js/relation/done_application.js"></script>
</head>
<body>
<div class="no_data" style="display: none;">您暂无已审核的转接申请</div>
<div class="box" style="display: none;">
    <p class="title_p">*已审核的团员组织关系转接</p>
    <div class="table_style_box1">
        <div class="table">
            <div class="tr title">
                <div class="td">序号</div>
                <div class="td">姓名</div>
                <div class="td">申请转出团支部</div>
                <div class="td">已办时间</div>
            </div>
            <!--<div class="tr con">-->
            <!--<div class="td">1</div>-->
            <!--<div class="td">史密斯</div>-->
            <!--<div class="td">广州科技职业技术学院管理学院2017工管1班团支部</div>-->
            <!--<div class="td">2017-08-08<br>08:42:52</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
</html>
