.box{}
.box .tips_box {
    background-color: #fff;
    padding: 0.4rem 0.5rem;
    display: block;
    color: #333;
    position: relative;
    margin-bottom: 0.6rem;
}
.box .tips_box:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: url(../../img/spirit1.png) no-repeat -2.52rem -1.32rem;
    background-size: 6rem;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.box .tips_box .tips {
    padding-left: 2rem;
    padding-right: 0.3rem;
    line-height: 0.8rem;
    font-size: 0.48rem;
    color: #999;
}


.box .content {}
.box .content .title {
    margin: 0.6rem 0.6rem 0.2rem 0.6rem;
    color: #333;
    font-size: 0.56rem;
    line-height: 0.72rem;
}
.box .content .reason_box {
    padding: 0.2rem 0.6rem;
    background-color: #fff;
}
.box .content .reason_box textarea {
    height: 5.6rem;
    width: 100%;
    font-size: 0.6rem;
}