<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>空心组织</title>
    <link rel="stylesheet" href="../../public/vendor/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" href="../../public/vendor/easyui/themes/icon.css"/>
    <link rel="stylesheet" href="../../public/custom/easyui_secondary.css"/>
    <script src="../../public/vendor/jquery/jquery-1.8.3.min.js"></script>
    <script src="../../public/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="../../public/vendor/jquery-validate/messages_zh.js"></script>
    <script src="../../public/vendor/jquery-validate/additional-methods.js"></script>
    <script src="../../public/vendor/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../../public/custom/easyui_secondary.js"></script>
    <script src="../../public/custom/dialog.js"></script>
    <script src="../../public/js/module/League.js"></script>
    <script src="../../public/js/module/OrganizationManagementApi.js"></script>
    <script src="../../public/js/module/Utils.js"></script>
    <script src="../../public/js/organization_management/organization_empty.js"></script>
</head>
<body>

<div class="easyui-layout" data-options="fit:true">

    <div data-options="region:'north'" style="height: 50px;border: 0;overflow: hidden;">

        <div class="declaration" style="margin-top: 5px;">
            <!--<span class="business">数据统计业务说明</span>-->
            <i class="download" id="download">下载所有空心团支部列表</i>
        </div>

    </div>
    <div data-options="region:'center'" style="border: 0;">
        <!--空心组织管理-->
        <table class="easyui-datagrid" id="datagrid_empty" data-options="noheader: true, border: false"></table>
    </div>
</div>


</body>
</html>