<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>组织关系转接说明</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/relation/declaration_transfer.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
</head>

<body>
<div class="content_box">
    <div class="heading">组织关系转接说明</div>
    <!--<p class="text" style="font-weight: bold;">团员移动端操作流程（团员自行发起申请，团组织管理员审核通过）</p>-->
    <p class="text">组织关系接转发生在团员隶属组织发生变动时，如升学、就业等，转接时需要准确填写您将要去往的学习/工作单位。转接的范围有以下二类情况：</p>
    <p class="text" style="font-weight: bold;">1. 转至广东省内组织：</p>
    <p class="text content">转出至广东省内组织需四个组织审核：转出、转入团支部及它们的直接上级组织。团支部手动同意转出/转入后，直接上级团组织审核，四个组织均通过后则转接完成，若任一组织拒绝，则需重走流程。转接前后您均可正常使用广东“智慧团建”系统。</p>
    <a style="display: block;margin-bottom: 0.2rem;"><img src="../../public/img/transfer_one.png" style="width: 100%;"/></a>

    <p class="text" style="font-weight: bold;">2. 转至非共青团广东省委所辖的团组织：</p>
    <p class="text content">转至非共青团广东省委所辖的团组织：转出至非共青团广东省委所辖的团组织，需四个组织审核：团支部及其直接上级。团支部审核通过后，直接上级团组织审核，通过后则转出完成，您将无法再使用广东“智慧团建”系统办理相关业务。</p>
    <a style="display: block;margin-bottom: 0.2rem;"><img src="../../public/img/transfer_organization_two.png" style="width: 100%;"/></a>
    <!--<a style="display: block;margin-bottom: 0.2rem;"><img src="../../public/img/transfer_two.png" style="width: 100%;"/></a>-->

    <p class="text content">更多业务上的规范指引，请留意相关的说明文件。</p>
</div>
</body>
</html>