<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>组织关系转接记录</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/relation/transfer_record.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/RelationApi.js"></script>
    <script type="text/javascript" src="../../public/js/relation/transfer_record.js"></script>
</head>
<body>
<div class="no_data" style="display: none;">暂无相关的内容</div>
<div class="box" style="display: none;">
    <section id="transferRecord" class="mt_30">
        <ul class="ul">
            <!--<li class="ul_li clearfix">-->
            <!--&lt;!&ndash;<div class="left_pic"><img src="../../public/img/league-badge.png" alt="图片" /></div>&ndash;&gt;-->
            <!--<div class="record_text">-->
            <!--<p class="org_name prev_org">中山大学工学院团支部2</p>-->
            <!--<p class="org_name next_org">中山大学工商学院团支部2</p>-->
            <!--<p class="reason">2017-08-16 9:02&nbsp;&nbsp;&nbsp;就业/工作调动</p>-->
            <!--<p class="process">正在等待组织审核...</p>-->
            <!--</div>-->
            <!--</li>-->
        </ul>
    </section>
</div>
</body>
</html>