<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>申诉详情</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/relation/transfer_appeal_detail.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/RelationApi.js"></script>
    <script type="text/javascript" src="../../public/js/relation/transfer_appeal_detail.js"></script>
</head>
<body>
<div class="box">
    <div class="item_box reason_box">
        <div class="title">您的申诉理由</div>
        <div class="content" id="appealReason"></div>
    </div>
    <div class="item_box material_box">
        <div class="title">您的证明材料</div>
        <div class="list list_img">
        </div>
        <div class="list list_file">
        </div>
    </div>
    <div class="result_box">
        <div class="title">申诉结果</div>
        <div class="result_item">
            <div class="status"></div>
            <div class="date"></div>
            <div class="declaration"></div>
            <div class="org"></span></div>
        </div>
    </div>
</div>
</body>
</html>