<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>选择组织</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/information/branch_search.css" />
    <script type="text/javascript" src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/AwardsApi.js"></script>
    <script type="text/javascript" src="../../public/js/awards/branch_search.js"></script>
</head>
<body>

<section id="orgChosen">
    <div class="no_data first" style="display: none;">没有相关的内容</div>
    <div class="box first" style="display: none;">
        <!-- 输入搜索框 -->
        <section class="search_sec">
            <div class="search_box">
                <input id="keyword" type="text" class="search_input" placeholder="请输入组织全称/组织ID" />
                <a id="confirm" class="sea_btn"></a>
            </div>
        </section>

        <div class="no_data second" style="display: none;">没有找到相应的内容，换个关键词再试试吧！</div>
        <div class="box second" style="display: none;">
            <ul class="ul">
                <!--<li class="ul_li">中山大学</li>-->
                <!--<li class="ul_li">中山大学</li>-->
            </ul>
        </div>
    </div>
</section>

    <!--<section id="orgChosen">-->
        <!--<div class="search_box">-->
            <!--<input type="text" id="keyword" class="input" placeholder="请输入组织全称/组织ID" />-->
            <!--<span class="search_btn" id="confirm"></span>-->
        <!--</div>-->
        <!--<ul class="ul">-->
            <!--&lt;!&ndash;<li class="ul_li">中山大学</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="ul_li">中山大学</li>&ndash;&gt;-->
        <!--</ul>-->
    <!--</section>-->
</body>
</html>