<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>奖励说明</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/awards/declaration_awards.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
</head>

<body>
<div class="content_box">
    <div class="heading">奖励说明</div>
    <div class="text" style="font-weight: bold;">团内奖励：</div>
    <p class="text content">包括各级团委在内的团组织（或团组织联合其他单位）授予并且盖章认证的奖励，如“五四青年奖章”、“优秀团员”、“优秀团干部”等。团内奖励需要选择对应的授奖团组织审核，通过后认证生效，此后可计入团员个人电子档案，系统标示“已认证”。</p>
    <p class="text content">团内奖励由颁奖单位负责录入，如有遗漏，团干、团员个人可申请录入。</p>

    <div class="text" style="font-weight: bold;">团外奖励：</div>
    <p class="text content">非团组织授予的奖励，但是具有现实意义且能证明团员个人能力的，如“校级三好学生”、“优秀学生干部”、“程序设计大赛一等奖”等奖项。团外奖励需要团支部审核，亦会计入个人电子档案，系统不做认证标示。</p>
</div>
</body>
</html>