<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>查看成员</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/cadre/cadre_detail.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <!--<script type="text/javascript" src="../../public/js/common/common.js"></script>-->
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/Contact.js"></script>
    <script type="text/javascript" src="../../public/js/module/CadreApi.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="../../public/js/cadre/chat.js"></script>
    <script type="text/javascript" src="../../public/js/cadre/cadre_detail.js"></script>
</head>
<body>
<div class="box">
    <div class="info_box">
        <div class="info_head">
            <div class="info_title">广东共青团</div>
            <img src="../../public/img/league-badge.png"/>
        </div>
        <div class="name" id="name">李四</div>
        <div class="incumbent_list">
            <!--<div class="incumbent_item">第一个测试部门第一个测试部门第一个测试部门第一个测试部门第一个测试部门第一个测试部门-团支部书记</div>-->
            <!--<div class="incumbent_item">第二个测试部门第二个测试部门-团支部书记</div>-->
            <!--<div class="incumbent_item">第三个测试部门第三个测试部门第三个测试部门-团支部书记</div>-->
        </div>
    </div>
    <div class="other_box">
        <!--<div class="phone_box">-->
            <!--<span class="title">手机</span><span class="value">18608406699</span>-->
        <!--</div>-->
        <div class="department_list">
            <!--<div class="department_item">-->
                <!--<div class="department_box_sub">-->
                    <!--<span class="title">部门</span><span class="value">第三测试部门</span>-->
                <!--</div>-->
                <!--<div class="department_bottom">共青团中央</div>-->
            <!--</div>-->
        </div>
        <!--<div class="more_department">查看更多部门</div>-->
    </div>
    <div class="message">发消息</div>
    <!--<div class="voice">语音通话</div>-->
</div>
</body>
</html>