<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>团干职务</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/identity/cadre_position.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Enterprise.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/IdentityApi.js"></script>
    <script type="text/javascript" src="../../public/js/identity/cadre_position.js"></script>
</head>
<body>

<section class="info_box mt_30">
    <ul class="info_list">
        <li class="info_item" id="duty_code"><!-- 团干职务 -->
            <span class="info_item_title">团干职务</span>
            <span class="arrow">请选择</span>
        </li>
        <li class="info_item_input" id="duty_desc" style="display: none;"><!-- 职务名称 -->
            <span class="info_item_title">职务名称</span>
            <div class="right_input_box"><input type="text" class="right_input" placeholder="请输入职务名称" /></div>
        </li>
    </ul>
</section>

<!-- 下一步、提交按钮 -->
<a href="javascript:;" class="bot_big_btn" id="confirm">提交</a>

<!-- 选择 - 弹窗 -->
<section class="select_popup">
    <ul class="select_list"></ul>
</section>
<!-- 选择 - 弹窗 -->

</body>
</html>