<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>跳转失败</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/identity/fail.css" />
    <script src="../../public/js/common/flexible.js"></script>
</head>
<body>
<div class="tips_box">
    <!--<div class="tips">对不起，您无权访问此页面，请先登录企业微信，访问智慧 团建系统</div>-->
    <div class="tips">您无权访问此页面，请您按照团支部下发的二维码进行报到。</div>
</div>
</body>
</html>