<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>我的消息</title>

    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/message/message.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>

    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/MessageApi.js"></script>
    <script type="text/javascript" src="../../public/js/message/message.js"></script>
</head>
<body>
<div class="no_data" style="display: none;">暂无相关的内容</div>
<div class="box" style="display: none;">
    <section class="my_msg_list">
        <!--<a href="javascript:;" class="my_msg_item">-->
            <!--<div class="msg_item_txt">-->
                <!--<div class="txt_up clearfix">-->
                    <!--<span class="fl txt_up_l">系统通知</span>-->
                <!--</div>-->
                <!--<div class="txt_up clearfix">-->
                    <!--<span class="fr txt_up_r">2017-08-16 9:00</span>-->
                <!--</div>-->
                <!--<p class="txt_down">您转入到越秀区金花街道团支部的申请，已通过审核，申请已完成。</p>-->
            <!--</div>-->
        <!--</a>-->
    </section>
</div>
</body>
</html>