<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>凭证详情</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/fee/credentials_detail.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/Enterprise.js"></script>
    <script type="text/javascript" src="../../public/js/module/FeeApi.js"></script>
    <script type="text/javascript" src="../../public/js/fee/credentials_detail.js"></script>
</head>
<body>
<!--<div id="header_h" class="bgc1"><a href="javascript:;" class="back_ btn"><em></em></a>凭证详情<span class="menu_de btn"><em></em></span></div>-->
<div class="top">
    <div class="clearfix top1_box"><div class="top1 fl" id="months"></div></div>
    <div class="top2">返还金额<span id="amount"></span>元</div>
</div>
<!-- 轨迹 -->
<div class="steps_box">
    <p class="step_title">返还凭证轨迹</p>
    <div class="step_list_box">
        <ul class="step_list">
            <!--<li class="list_item cur">-->
                <!--<i class="dot"></i>-->
                <!--<h1 class="h_title">待确认</h1>-->
                <!--<p class="date">2017-08-09</p>-->
                <!--<p class="phare">越秀区返还<em>1000 元</em>到金花街道团委 </p>-->
            <!--</li>-->
        </ul>
    </div>
</div>
<!-- 温馨提示 -->
<div class="wxts">
    <p class="title">温馨提示:</p>
    <p class="phare">1.可查看当前组织的垂直所有上级及直属下级组织的金额返还情况 </p>
    <p class="phare">2.如果您当前的组织核实已收到凭证上的返还金额，请您点击【确认】</p>
</div>
<a href="javascript:;" class="bottom_btn" style="display: none;" id="confirm">确认</a>
</body>
</html>
