<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>团费查询</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/fee/fee_query.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/Enterprise.js"></script>
    <script type="text/javascript" src="../../public/js/module/FeeApi.js"></script>
    <script type="text/javascript" src="../../public/js/fee/fee_query.js"></script>
</head>
<body>
<!--<div id="header_h" class="bgc1"><a href="javascript:;" class="back_ btn"><em></em></a>交费查询<span class="menu_de btn"><em></em></span></div>-->
<div class="title_box">
    <p>您可在这里查询直属下级组织的团费收交情况</p>
</div>

<div class="no_data first" style="display: none;">没有相关的内容</div>
<div class="box first" style="display: none;">
    <!-- 刷选查询 -->
    <div class="sel_check_box">
        <div class="sel_item clearfix">
            <div class="sel_item_title">选择月份</div>
            <div class="select">
                <div class="select_tit" id="months"></div>
            </div>
        </div>
        <div class="sel_item clearfix">
            <div class="sel_item_title">选择直属下级</div>
            <div class="select">
                <div class="select_tit" id="oid"></div>
            </div>
            <div class="sel_item_btn" id="filter">查询</div>
        </div>
    </div>

    <div class="no_data second" style="display: none;">没有找到相应的内容</div>
    <div class="box second" style="display: none;">
        <!-- 表格 -->
        <div class="table_t">
            <table class="title">
                <tr>
                    <th>月份</th>
                    <th>组织名称</th>
                    <th>已交团费总额</th>
                </tr>
            </table>
            <table id="list">
                <!--<tr>-->
                <!--<td>2017</td>-->
                <!--<td>广州科技职业技术学院管理学院2017工管1班团支部</td>-->
                <!--<td>2000,000元</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>2017</td>-->
                <!--<td>广州科技职业技术学院管理学院2017工管1班团支部</td>-->
                <!--<td>2000,000元</td>-->
                <!--</tr>-->
            </table>
        </div>
    </div>
</div>


<!-- 选择 - 弹窗 -->
<section class="select_popup">
    <ul class="select_list"></ul>
</section>
<!-- 选择 - 弹窗 -->

</body>
</html>
