<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>选择支部成员</title>

    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/bind/member_choose.css" />
    <script type="text/javascript" src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>

    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/BindApi.js"></script>
    <script type="text/javascript" src="../../public/js/bind/member_choose.js"></script>
</head>
<body>
    <div class="box">
        <div class="header">
            请选择1位同支部团员。<br/>注意最多选择2次，如支部仅你1位团员，请选择其他验证方式。
        </div>

        <ul class="list_box">
            <!--<li class="list_item_checkbox">张三</li>-->
            <!--<li class="list_item_checkbox">李四</li>-->
            <!--<li class="list_item_checkbox">赵武</li>-->
        </ul>
    </div>

    <!-- 选好了、提交按钮 -->
    <a href="javascript:;" class="bot_big_btn" style="margin-top: 4rem;">选好了</a>
</body>
</html>