<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>南粤人才库</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/talent/talent.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/Enterprise.js"></script>
    <script type="text/javascript" src="../../public/js/module/TalentApi.js"></script>
    <script type="text/javascript" src="../../public/js/talent/talent.js"></script>
</head>
<body>
<div class="title_box">
    <p>可查询当前组织及所有下级组织的青年人才数据</p>
</div>

<div class="no_data first" style="display: none;">没有相关的内容</div>
<div class="box first" style="display: none;">
    <!-- 输入搜索框 -->
    <section class="search_sec">
        <div class="search_box">
            <input id="keyword" type="text" class="search_input" placeholder="请输入团员姓名搜索" />
            <a id="confirm" class="sea_btn"></a>
        </div>
    </section>

    <div class="no_data second" style="display: none;">没有找到相应的内容，换个关键词再试试吧！</div>
    <div class="box second" style="display: none;">
        <!-- 表格 -->
        <div class="table_out">
            <div class="table_title table_tr clearfix">
                <span class="td">序号</span><span class="td">姓名</span><span class="td">专业技术资格</span><span class="td">学习工作单位</span>
            </div>
            <div class="table_box">
                <!--<div class="table_con table_tr clearfix">-->
                <!--<span class="td">1</span><span class="td">sss</span><span class="td">广州科技职业技术学院</span><span class="td">13380080061</span>-->
                <!--</div>-->
                <!--<div class="table_con table_tr clearfix">-->
                <!--<span class="td">1</span><span class="td">sss</span><span class="td">广州科技职业技术学院管理学院2017工管1班团支部</span><span class="td">13380080061</span>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>