body{
    background: #fff;
}
p {
    margin: 0.4rem 0;
}
.content_box{
    margin: 0 0.6rem;
}
.heading{
    margin: 1rem 0.6rem 0.6rem;
    line-height: 0.72rem;
    text-align: center;
    font-size: 0.72rem;
    font-weight: bold;
    color: #000;
}
.text{
    line-height: 0.8rem;
    font-size: 0.52rem;
    color: #333;
}
/*.content{*/
    /*text-indent: 2em;*/
/*}*/