.info_box .info_list .info_item{margin-bottom:0.6rem;background-color: #fff;padding:0.5rem 0.6rem;line-height:1.4;}
.info_box .info_list .info_item_title{font-size:0.68rem;color:#333;float: left;max-width: 40%;}
.info_box .info_list .info_item .arrow{float: right;color:#999;font-size:0.56rem;padding-right:0.84rem;position: relative;max-width: 50%;}
.info_box .info_list .info_item .arrow:before{content:'';position: absolute;right:0;top:50%;transform:translateY(-50%);background:url(../../img/spirit1.png) no-repeat -4.6rem -1.4rem;background-size:6rem;width:0.24rem;height:0.4rem;}

/*单选框*/
.info_box .info_list .info_item .checkbox_label {
    /*float: left;*/
    display: block;
    line-height: 0.952rem;
    height: 0.952rem;
    font-size: 0.56rem;
    color: #333;
}
/*.info_box .info_list .info_item .checkbox_label:not(:first-child) {*/
    /*margin-left: 0.8rem;*/
/*}*/
.info_box .info_list .info_item .checkbox_label .checkbox {
    display: inline-block;
    margin-right: 0.6rem;
    width: 0.68rem;
    height: 0.68rem;
    vertical-align: middle;
    background: url(../../img/square.png) no-repeat center;
    background-size: contain;
}
.info_box .info_list .info_item .checkbox_label.active .checkbox{
    background-image: url(../../img/square-active.png);
}

/* 转接原因 */
.other_reason_box{display:none;padding:0.6rem 0.6rem 0;}
.other_reason_box .other_reason{background-color: #e7e7e7;padding:0.2rem 0.4rem;color:#333;font-size:0.56rem;width:100%;box-sizing:border-box;height:5.2rem;}

/*底部文字*/
#orgRelaTransfer .bot_links{text-align: center;}
#orgRelaTransfer .bot_links .link{display:inline-block;padding:0 0.52rem;line-height:0.52rem;color:#666;font-size:0.52rem;}
#orgRelaTransfer .bot_links .link.borderR{border-right:1px solid #999;}


/* 选择 - 弹窗 */
.select_popup{position: fixed;background-color:rgba(0,0,0,.3);left:0;top:0;width:100%;height:100%;z-index:9999;display:none;}
.select_popup .select_list{position: absolute;bottom:0;left:0;background-color: #fff;width:100%;max-height:7rem;overflow-y:auto;}
.select_popup .select_list .select_item{height:1.6rem;line-height:1.6rem;text-align: center;color:#333;font-size:0.56rem;border-bottom:1px solid #f2f2f2;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.select_popup .select_list .select_item:active{background-color: #33cc33;color:#fff;}
.select_popup .select_list .select_item:last-child{border-bottom:0 none;}

/* 选择 - 弹窗 - 两边 */
.select_popup_pair{position: fixed;background-color:rgba(0,0,0,.3);left:0;top:0;width:100%;height:100%;z-index:9999;display:none;}
.select_popup_pair .clear{position: absolute; bottom: 7rem; width: 100%; height: 1.4rem; line-height: 1.4rem; font-size: 0.56rem; text-align: center; color: #fff; background: #D94453;}
.select_popup_pair .select_list_pair{position: absolute;bottom:0;left:0;background-color: #fff;width:50%;height:7rem;overflow-y:auto;}
.select_popup_pair .select_list_pair:nth-of-type(2){left: auto;right: 0;border-left: 1px solid #f2f2f2;}
.select_popup_pair .select_list_pair .select_item_pair{padding: 0.52rem 0.2rem; line-height: 1.4;text-align: center;color:#333;font-size:0.56rem;border-bottom:1px solid #f2f2f2;}
.select_popup_pair .select_list_pair .select_item_pair:active{background-color: #33cc33;color:#fff;}
.select_popup_pair .select_list_pair .select_item_pair.active{background-color: #33cc33;color:#fff;}
.select_popup_pair .select_list_pair .select_item_pair:last-child{border-bottom:0 none;}
