body {font-size:12px; color:#333; font-family:"Microsoft Yahei";}  /*正文的字体大小和颜色*/
/* 提交审核 */
.submit_btn{margin-top:50px;width:100px;height:30px;line-height:30px;color:#fff;text-align: center;border-radius:4px;background-color: #db4254;cursor:pointer;}

.w1200{width:1200px;margin:0 auto;}
.fl{float: left;}
.fr{float: right;}
.mb_20{margin-bottom:20px;}

.mb_20{margin-bottom:20px;}
.outermost .box1{padding-bottom:20px;border-bottom:1px solid #c4c4c4;}
.outermost .box1 .p1{font-size:14px;line-height:14px;margin-bottom:20px;}
.outermost .box1 .link{height:19px;line-height:19px;position: relative;padding-left:29px;color:#333;}
.outermost .box1 .link:before{position: absolute;content: '';width:19px;height:19px;background:url(../../img/sprite.png) no-repeat -140px -14px;left:0;}
.outermost .box2{margin:20px 0 50px;}
.outermost .box2 .p1{color:#999;}
.outermost .box2 .com{line-height:30px;height:30px;}
.outermost .box2 .com .left{margin: 0 8px 0 0;}
.outermost .box2 .com .input{line-height:28px;height:28px;border:1px solid #c4c4c4;width:153px;padding:0 10px;}
.outermost .box2 .select_box{width:198px;position: relative;}
.outermost .box2 .select_box .select{padding-left:10px;padding-right:30px;border:1px solid #c4c4c4;height:28px;line-height:28px;width:100%;font-size:12px;position: relative;background-color:transparent;}
.submit_btn{width:60px;}


.select_box>span{
    box-sizing: border-box;
    width: 173px !important;
    height: 30px !important;
}
.select_box span input{
    box-sizing: border-box;
    padding: 0 0 0 5px;
    width: 153px !important;
    height: 28px !important;
    vertical-align: top !important;
}
.select_box span span.combo-arrow{
    height: 28px !important;
    background-color: transparent;
}
/*.select_box input{*/
    /*box-sizing: border-box;*/
    /*padding: 0 0 0 5px;*/
    /*height: 30px;*/
    /*width: 150px;*/
    /*border: 1px solid #c4c4c4;*/
/*}*/
.select_box input:focus{
    outline: none;
}

.select_box.longer>span{
    box-sizing: border-box;
    width: 300px !important;
    height: 30px !important;
}
.select_box.longer span input{
    box-sizing: border-box;
    padding: 0 0 0 5px;
    width: 280px !important;
    height: 28px !important;
    vertical-align: top !important;
}


