input{padding: 0;font-size: 12px;font-weight: normal;}
input:focus{outline: none;}
div{box-sizing: border-box;}
.content{font-size: 14px;font-weight: bold;}
.content .title{margin-left: 85px;}
.content .title .item{display: inline-block;width: 150px;text-align: center;}
.content .title .item:not(:first-child){margin-left: 20px;}
.content .list .item_box{margin-top: 20px;}
.content .list .item_box .item{display: inline-block;width: 150px;height: 30px;line-height: 30px;text-align: center;}
.content .list .item_box .item.name{width: 85px;text-align: left;}
.content .list .item_box .item.amount{margin-left: 20px;}
.content .list .item_box .item:not(:first-child){border: 1px solid #c4c4c4;padding: 0 5px;}
.content .list .item_box .item:not(:first-child) input{border: none;width: 100%;height: 100%;vertical-align: top;}

.add{margin-left: 30px;display: inline-block;width: 30px;height: 30px;vertical-align: middle;border-radius: 2px;background: url("../../img/add.png") no-repeat center #db4254;cursor: pointer;}
.delete{margin-left: 20px;display: inline-block;width: 30px;height: 30px;vertical-align: middle;border-radius: 2px;background: url("../../img/delete.png") no-repeat center #ccc;cursor: pointer;}
.button{margin: 50px 85px;width: 60px;height: 30px;line-height: 30px;text-align: center;font-size: 12px;color: #fff;background: #db4254;border-radius: 5px;cursor: pointer;}