<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>我的组织</title>

    <link rel="stylesheet" type="text/css" href="../../public/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common_all.css" />
    <script src="../../public/js/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--公共部分-->
    <script type="text/javascript" src="../../public/js/common/common.js"></script>

    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/OrganizationApi.js"></script>
    <script type="text/javascript" src="../../public/js/organization/organization.js"></script>
</head>
<body>
<div class="info_box">
    <ul class="info_list">
        <li class="info_item_compact" style="margin-top: 0.6rem;">
            <span class="info_item_title">组织全称</span>
            <span class="right_txt" id="fullName"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title">团组织简称</span>
            <span class="right_txt" id="name"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title">企业微信名称</span>
            <span class="right_txt" id="enterpriseName"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title">组织类别</span>
            <span class="right_txt" id="type"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title">单位所属行业类别</span>
            <span class="right_txt" id="industryCategory"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title">团组织联系电话</span>
            <span class="right_txt" id="mobile"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title">团组织电子邮箱</span>
            <span class="right_txt" id="email"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title">14-28周岁青年数</span>
            <span class="right_txt" id="agedNumber"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title longer">年度经推优入党团员数</span>
            <span class="right_txt" id="theAnnualTuiyouPartyMembersNum"></span>
        </li>
        <li class="info_item_compact">
            <span class="info_item_title">上级组织名称</span>
            <span class="right_txt" id="parentName"></span>
        </li>
    </ul>
</div>
</body>
</html>