<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告列表</title>
    <!--<link rel="stylesheet" href="../../public/vendor/easyui/themes/icon.css" />-->
    <!--<link rel="stylesheet" href="../../public/vendor/easyui/themes/default/easyui.css" />-->
    <!--<link rel="stylesheet" href="../../public/custom/easyui_secondary.css"/>-->
    <link rel="stylesheet" href="../../public/css/common/base.css" />
    <link rel="stylesheet" href="../../public/css/notice_management/notice_list.css">
    <!--分页插件css-->
    <link rel="stylesheet" type="text/css" href="../../public/custom/page.css" />
    <script src="../../public/vendor/jquery/jquery-1.8.3.min.js"></script>
    <script src="../../public/vendor/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>
    <!--弹出框-->
    <script src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/League.js"></script>
    <script src="../../public/js/module/NoticeManagementApi.js"></script>
    <script src="../../public/js/module/MessageApi.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <!--分页插件 js-->
    <script type="text/javascript" src="../../public/custom/page.js"></script>
    <script type="text/javascript" src="../../public/js/notice_management/notice_list.js"></script>
</head>
<body>
<div class="notice_box">
    <!--<h1 class="pub_title">公告</h1>-->
    <ul class="notice_list">
        <!--公告列表-->
    </ul>
</div>
</body>
</html>