<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务详情</title>
    <link rel="stylesheet" href="../../public/vendor/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" href="../../public/vendor/easyui/themes/icon.css"/>
    <link rel="stylesheet" href="../../public/custom/easyui_secondary.css"/>
    <link rel="stylesheet" href="../../public/css/relation/flow_chat.css"/>
    <script src="../../public/vendor/jquery/jquery-1.8.3.min.js"></script>
    <script src="../../public/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="../../public/vendor/jquery-validate/messages_zh.js"></script>
    <script src="../../public/vendor/jquery-validate/additional-methods.js"></script>
    <script src="../../public/vendor/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../../public/custom/easyui_secondary.js"></script>
    <script src="../../public/custom/dialog.js"></script>
    <script src="../../public/js/module/League.js"></script>
    <script src="../../public/js/module/RelationApi.js"></script>
    <script src="../../public/js/module/Utils.js"></script>
    <script src="../../public/js/relation/flow_chat.js"></script>
</head>
<body>
<div class="outermost">
    <!--线状图-->
    <div class="step_box">
        <div class="step_bg"></div>
        <ul class="step_list clearfix">
            <!--<li class="step_item ed"><em class="num">0</em>-->
                <!--<p class="p">发起申请</p></li>-->
            <!--<li class="step_item ed"><em class="num">1</em>-->
                <!--<p class="p">转出团支部已同意</p></li>-->
            <!--<li class="step_item ed"><em class="num">2</em>-->
                <!--<p class="p">转出团支部的上级组织已同意</p></li>-->
            <!--<li class="step_item cur"><em class="num">3</em>-->
                <!--<p class="p">转入团支部已退回</p></li>-->
            <!--<li class="step_item cur"><em class="num">4</em>-->
                <!--<p class="p">转入团支部的上级组织待审核</p></li>-->
        </ul>
    </div>

    <div class="header">
        <div class="headfor_box" style="margin-bottom: 10px;">
            <span>转接类型：</span>
            <span id="headfor"></span>
        </div>
        <div id="studyWorkUnit_box" style="display: none; margin-bottom: 10px;">
            <span>学习工作单位：</span>
            <span id="studyWorkUnit"></span>
        </div>
        <div class="residence_box item" style="display: none; margin-bottom: 10px;">
            <span>学习工作单位地点：</span>
            <span id="residence"></span>
        </div>
        <div id="cause_box" style="display: none; margin-bottom: 10px;">
            <span>转出原因：</span>
            <span id="cause"></span>
        </div>
    </div>
    <!-- 当前状态 -->
    <div class="state_box">
        <!--<div class="state_title">当前状态：<em class="color1 auditStatus">转入团支部待审核</em></div>-->
        <!--<p class="state_item"><em class="time">2017-08-23 周三</em><em class="color1">【南沙区清风街道团支部】</em>的上级组织-团委已同意</p>-->
        <!--<p class="state_item"><em class="time">2017-08-23 周三</em><em class="color1">【南沙区清风街道团支部】</em>已同意</p>-->
        <!--<p class="state_item"><em class="time">2017-08-23 周三</em>王明 申请从<em class="color1">【南沙区清风街道团支部】</em>转接到<em class="color1">【越秀区金华街道团支部】</em></p>-->
    </div>

    <!--批量审核模块-->
    <div class="multiple_application" style="display: none;"><a class="member_info" style="font-size: 14px;color: #0d87ef;cursor: pointer;">查看该团员资料</a></div>

    <!-- 单个审核模块 -->
    <div class="check_application" style="display: none">
        <div class="title">请审核<span id="mName" class="my-red"></span>的转入申请<a class="member_info" style="font-size: 14px;color: #0d87ef;cursor: pointer;">查看该团员资料</a></div>
        <div class="choose">
            <div class="choose_btn clearfix"><em class="btn" data-id="1">同意</em></div>
            <div class="choose_btn clearfix"><em class="btn" data-id="2">退回</em></div>
        </div>
        <div class="textarea" style="display: none;"><textarea placeholder="请填写退回原因" id="returnReason"></textarea></div>
        <!-- 提交审核 -->
        <div class="submit_btn" id="confirm">提交</div>
    </div>
</div>

</body>
</html>